@model PageViewModel;

@if (Model == null || Model.TotalPages <= 1)
{
    return;
}


<nav aria-label="Page navigation">
    <ul class="pagination pagination-lg justify-content-center">
        @{
            var disabledPrev = Model.HasPreviousPage ? "" : "disabled";
        }
        <li class="page-item @disabledPrev">
            <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">&laquo;</a>
        </li>

        <li class="page-item dropdown">

            <a class="page-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.PageNumber / @Model.TotalPages
            </a>

            <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">

                @for (int p = 1; p <= Model.TotalPages; p++)
                {
                    var disabled = (Model.PageNumber == p) ? "disabled" : "";
                    <a class="dropdown-item page-link @disabled" href="?page=@p">@p</a>
                }

            </div>
        </li>

        @{
            var disabledNext = Model.HasNextPage ? "" : "disabled";
        }
        <li class="page-item @disabledNext">
            <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">&raquo;</a>
        </li>
    </ul>
</nav>
