@model dkx86weblog.Models.Photo

@{
    ViewData["Title"] = "Photo Details";
}

<div>

    <div class="row">
        <a href="#photo">
            <img src="~/photos/@Model.FileName" class="img-fluid m-auto" />
        </a>
    </div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>


    
</div>

<div class="JesterBox">
    <div id="photo" class="JesterBoxDiv">
        <img src="~/photos/@Model.FileName" onClick="history.go(-1);" alt="@Model.Title" title="@Model.Title" />
    </div>
</div>