@model dkx86weblog.Models.Photo

@{
    ViewData["Title"] = (string.IsNullOrEmpty(Model.Title)) ? "Photo Details" : Model.Title;
    ViewData["SNS_Image"] = "/photos/" + @Model.GetPreviewFileName();
}

@await Html.PartialAsync("_SocialButtonsPartial")

<div class="row">
    <div class="col text-center ">
        <img src="~/photos/@Model.GetPreviewFileName()" class="img-fluid" />
    </div>
</div>

<hr />

<div class="row">
    <p class="col-12">@Html.DisplayFor(model => model.Title)</p>
</div>


<hr />

<div class="row mb-3">
    <p class="col-12">
        <a href="~/photos/@Model.FileName" class="btn btn-sm  btn-dark">View full size @Html.DisplayFor(model => model.FullSizeDemensions)</a>
    </p>
</div>


<dl class="row text-secondary">

    <dt class="col-4 col-md-2">
        @Html.DisplayNameFor(model => model.CameraName)
    </dt>
    <dd class="col-8 col-md-10">
        @Html.DisplayFor(model => model.CameraName)
    </dd>

    <dt class="col-4 col-md-2">
        @Html.DisplayNameFor(model => model.ISO)
    </dt>
    <dd class="col-8 col-md-10">
        @Html.DisplayFor(model => model.ISO)
    </dd>

    <dt class="col-4 col-md-2">
        @Html.DisplayNameFor(model => model.ExposureTime)
    </dt>
    <dd class="col-8 col-md-10">
        @Html.DisplayFor(model => model.ExposureTime)
    </dd>

    <dt class="col-4 col-md-2">
        @Html.DisplayNameFor(model => model.Aperture)
    </dt>
    <dd class="col-8 col-md-10">
        @Html.DisplayFor(model => model.Aperture)
    </dd>


    <dt class="col-4 col-md-2">
        @Html.DisplayNameFor(model => model.FocalLength)
    </dt>
    <dd class="col-8 col-md-10">
        @Html.DisplayFor(model => model.FocalLength)
    </dd>
</dl>

