@model dkx86weblog.Models.PhotoViewModel

@{
    ViewData["Title"] = "Photo";
}

@await Html.PartialAsync("_PaginationPartial", @Model.PageModel)

@foreach (var photo in Model.Items)
{
    <div class="row mb-2">
        <div class="col-sm-12 col-md-6 col-lg-8 m-auto text-center">
            <a asp-action="Details" asp-route-id="@photo.ID">
                <img src="/photos/@photo.GetPreviewFileName()" class="img-fluid" alt="@photo.Title" title="@photo.Title" />
            </a>
        </div>
    </div>
}


@await Html.PartialAsync("_PaginationPartial", @Model.PageModel)
